<!DOCTYPE html>
<!-- README -->

<!--These are the sidebars of the application, as in the file sidebars.html of the html of the html folder. Other content is currently being implemented. -->

<!-- -------------------------------------------------------------------------------------------------  -->

<head> 
    <link rel="stylesheet" href="../sidebars/sidebars.css"> <!-- Sepcifies the path to the css file-->
  
  <!-- TOPBAR-->
  </head>
  <body>
    <div class="top-bar">
  
      <button class="menubutton" (click)="toggleUserbar()"></button>
      <button class="projectbutton" (click)="toggleProjectbar()"></button>
  
    </div>
    <!-- Opens the userbar whn clicking on the button-->
  
    <!-- USERBAR-->
    <div class="userbar" id="userbar">
      <img class="profilePicture" src="../../../assets/images/userPlaceholder.png">
      <span>FirstName LastName</span>
      <span class="span2">@username</span>
      <button class="logoutbutton">Logout</button>
      <div style="clear: both;">  <!-- Forces the text below to go under the image if the image is floating-->
        <button class="settingsbutton">Settings</button>
      </div>
    
      <div style="clear: both;">  <!-- Forces the text below to go under the image if the image is floating-->
        <hr class="lightline">
        <img class="homeicon" src="../../../assets/images/home.png"> <h4 class="home">Home</h4>
        <hr class="lightline">
        <img class="headericon" src="../../../assets/images/todolist.png"> <h4 class="userheader">Your Full To-Do list</h4>
        <img class="headericon" src=".../../../assets/images/groupOf4.png"> <img class="smallarrow" src="../../../assets/images/arrow.png"> <h4 class="userheader">Teams</h4> 
        <ul class="uul">
          <li *ngFor="let team of allTeams"><a href="#">{{team.name}}</a></li> 
          <!-- NOTE: SO FAR THIS JUST SHOWS ALL TEAMS THAT ARE GLOBALLY STORED AND NOT THOSE THE USER IS IN SPECIFICALLY-->
      
        </ul> 
      </div>
    </div>
    
    <!-- PROJECTBAR-->
    <div class="projectbar" id="projectbar">
    
    <img class="pheadericon" src="../../../assets/images/folder2.png"> <img class="psmallarrow" src="../../../assets/images/arrow.png"> <h4 class="projectheader">Your Projects</h4>
    <ul>
      <li *ngFor="let project of allGlobalProjects"><a href="#"><img class="plist" src="../../../assets/images/project.png">{{project.name}}</a></li> 
     <!-- NOTE: SO FAR THIS JUST SHOWS ALL PROJECTS THAT ARE GLOBALLY STORED AND NOT THOSE THE USER IS IN SPECIFICALLY-->
    </ul> 
    
    <img class="pheadericon" src="../../../assets/images/calendar.png"> <img class="psmallarrow" src="../../../assets/images/arrow.png"> <h4 class="projectheader">Recent tasks</h4>
    <ul>
      <li *ngFor="let task of allTasks"><a href="#"><img class="plist" src="../../../assets/images/task.png">{{task.name}}</a></li> 
       <!-- NOTE: SO FAR THIS JUST SHOWS ALL TASKS THAT ARE GLOBALLY STORED AND NOT THOSE THE USER IS IN SPECIFICALLY-->
    </ul> 
    </div>

    <!--CONTENT IN THE MIDDLE OF THE BARS-->
    <div class="main-screen">
      <div class="todo-list">
        <li class="tasks-todo-list" *ngfor="let task of allTasks">
          <div class="task-component">
            <div class="task-name">

            </div>
            <div class="task-desc">

            </div>
            <div class="task-deadline">
              
            </div>
          </div>
        </li>
      </div>
    </div>
  </body>
  
  